name: Publish package

on:
  release:
    types:
      - published

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt

      - name: Create .pypirc file
        run: |
          echo "[pypi]" > $HOME/.pypirc
          echo "username = __token__" >> $HOME/.pypirc
          echo "password = ${{ secrets.TEST_PYPI_TOKEN }}" >> $HOME/.pypirc

      - name: Build
        run: |
          make build

      - name: Publish Pypi
        run: |
          make pypi
