name: Publish package

on:
  push:
    branches:
      - develop
      - feature/pypi-gha
    paths:
      - VERSION
      - .github/workflows/publish_test_pypi.yml

jobs:
  test-pypi:
    runs-on: ubuntu-latest
    environment:
      name: test-pypi
      url: https://test.pypi.org/project/qiita-sdk/
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt

      - name: Create .pypirc file
        run: |
          cp .pypirc ~/

      - name: Build
        run: |
          make build

      - name: Publish Test Pypi
        run: |
          make test-pypi
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
